In [2]:
from sklearn.metrics.pairwise import linear_kernel
from dask.distributed import Client, LocalCluster
from dask import dataframe as ddf
import dask

In [3]:
cluster = LocalCluster()
client = Client(cluster)

In [4]:
ratings = ddf.read_csv('../dataset/ratings.csv')
ratings = client.compute(ratings).result()
ratings

         userId  movieId  rating   timestamp
0             1      296     5.0  1147880044
1             1      306     3.5  1147868817
2             1      307     5.0  1147868828
3             1      665     5.0  1147878820
4             1      899     3.5  1147868510
...         ...      ...     ...         ...
1377118  162541    50872     4.5  1240953372
1377119  162541    55768     2.5  1240951998
1377120  162541    56176     2.0  1240950697
1377121  162541    58559     4.0  1240953434
1377122  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [5]:
movies = ddf.read_csv('../dataset/movies.csv')
movies = client.compute(movies).result()
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [6]:
g_scores = ddf.read_csv('../dataset/genome-scores.csv')
g_scores = client.compute(g_scores).result()
g_scores

         movieId  tagId  relevance
0              1      1    0.02875
1              1      2    0.02375
2              1      3    0.06250
3              1      4    0.07575
4              1      5    0.14075
...          ...    ...        ...
1757156   206499   1124    0.11000
1757157   206499   1125    0.04850
1757158   206499   1126    0.01325
1757159   206499   1127    0.14025
1757160   206499   1128    0.03350

[15584448 rows x 3 columns]

In [7]:
g_tags = ddf.read_csv('../dataset/genome-tags.csv')
g_tags = client.compute(g_tags).result()
g_tags

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [8]:
from pandas.core.groupby.generic import DataFrameGroupBy
from sklearn.manifold import locally_linear_embedding

In [11]:
groups: DataFrameGroupBy = ratings.groupby(['userId'])
groups = client.compute(groups)
groups